.cart-link {
  position: fixed;
  right: 10px;
  top: 10px;
  background-color: #fff;
  color: grey;
  width: 65px;
  height: 65px;
  font-size: 32px;
  border-radius: 50%;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.49);
  -webkit-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.49);
  -moz-box-shadow: 10px 10px 29px -8px rgba(0,0,0,0.49);

  &:hover {
    text-decoration: none;
  }
  .cart-count {
    position: absolute;
    top: 10px;
    font-size: 14px;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
  }
}
