<LinkTo @route="cart" class="cart-link">
  <FaIcon @icon="shopping-cart" />
  {{#if this.itemCount}}
    <span class="cart-count d-inline-flex justify-content-center align-items-center">
      {{this.itemCount}}
    </span>
  {{/if}}
</LinkTo>

<main class="container mt-5">
  {{yield}}
</main>
