<LinkTo @route="item" @model={{@product.id}} class="product {{if @isZoomed 'is-zoomed'}}">
  <Product::Image @src={{this.productImage}} />
  <Product::Details @name={{@product.name}} @price={{@product.price}} />
</LinkTo>