<div class="product-details">
  {{!-- Header --}}
  <section>
    <h3>{{@name}}</h3>
    <div class="text-warning">
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star" />
      <FaIcon @icon="star-half" />
    </div>
  </section>
  {{@price.name}}
  {{!-- price --}}
  <section class={{unless @isDetails 'h4'}}>
    <del class="small text-black-50">{{currency @price.original}}</del>
    <i class="text-danger font-weight-bold">{{currency @price.current}}</i>
  </section>

  {{#if @isDetails}}
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <h5>Color</h5>
        <div class="product-colors active-{{@color}}">
          {{#each @colors as |colorInfo|}}
            <span class="product-color {{concat 'color-' colorInfo.color}}"
            {{on "click" (fn @onChangeColor colorInfo.color) }}></span>
          {{/each}}
        </div>
      </div>
      <button type="button" class="btn btn-info" {{on "click" this.addToCart}}>
        <FaIcon @icon="shopping-cart" class="mr-1" />
        Add to cart
      </button>
    </div>
  {{/if}}
</div>