{{#if  @toggleZoom}}
  <div class="product-image" {{on "click" @toggleZoom}}>
    <img src={{@src}} alt="" />
  </div>
{{else}}
  <div class="product-image">
    <img src={{@src}} alt="" />
  </div>
{{/if}}
