{{page-title "Cart"}}

<main class="container mt-5">
  <h1>Shopping Cart</h1>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <LinkTo @route="index">
        Home
      </LinkTo>
    </li>
    <div class="breadcrumb-item">
      Shopping Cart
    </div>
  </ol>

  {{#each this.cart.itemList as |item|}}
    <div class="cart-item d-flex align-items-center">
      <div class="cart-item-thumbnail">
        <img src={{item.image}} alt="">
      </div>
      <div class="ml-3">
        <h4>{{item.name}}</h4>
        <i class="font-weight-bold">{{currency item.price}}</i>
      </div>
      <input
        type="number"
        class="ml-auto"
        {{on "input" (fn this.updateItemCount item)}}
        value={{item.count}} />
    </div>
  {{/each}}

  <section class="w-50 ml-auto text-right mb-5">
    <div class="row">
      <div class="col">Subtotal</div>
      <div class="col">{{currency this.subtotal sign="$"}}</div>
    </div>
    <div class="row">
      <div class="col">Tax</div>
      <div class="col">{{currency this.tax}}</div>
    </div>
    <div class="row">
      <div class="col">Total</div>
      <div class="col">{{currency this.total}}</div>
    </div>
  </section>

  <button type="button" class="btn btn-success float-right">
    Check out
  </button>
</main>