<GeneralContainer>
  <div class="product item-details-page {{if this.isZoomed 'is-zoomed'}}">
    <Product::Image
      @src={{this.productImage}}
      @toggleZoom={{this.toggleZoom}}
      @isZoomed={{this.isZoomed}}
     />
    <Product::Details
    @isDetails={{true}}
    @name={{this.model.name}}
    @price={{this.model.price}}
    @color={{this.color}}
    @onChangeColor={{this.onChangeColor}}
    @colors={{this.model.colors}}
    />
  </div>
  <h5 class="mt-5">Features</h5>
  <ul>
    {{#each this.model.features as |feature|}}
      <li>{{feature}}</li>
    {{/each}}
  </ul>
</GeneralContainer>
